EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Globalization.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Core.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Core.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Diagnostics.Contracts.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Diagnostics.Debug.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Diagnostics.Tools.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Diagnostics.Tracing.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Dynamic.Runtime.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.IO.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Linq.Expressions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Linq.Parallel.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Http.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/android/src/md5a03eb4da49d43b9b77a630188305af1d/LoginActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md5a03eb4da49d43b9b77a630188305af1d/MainActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md5a03eb4da49d43b9b77a630188305af1d/SplashScreen.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/MonoPackageManager.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/MonoRuntimeProvider.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/Seppuku.java
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Microsoft.CSharp.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Mono.Android.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Linq.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Http.Extensions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Http.Primitives.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Http.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.NetworkInformation.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Primitives.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Net.Requests.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Numerics.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Numerics.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ObjectModel.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.Emit.ILGeneration.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.Emit.Lightweight.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.Emit.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.Extensions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.Primitives.dll
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/SelectEndEditText.java
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Serialization.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Serialization.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.Http.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.Internals.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.Internals.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.Primitives.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.Security.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ServiceModel.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Text.Encoding.Extensions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Text.Encoding.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Text.RegularExpressions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Threading.Tasks.Parallel.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Threading.Tasks.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Threading.Timer.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Threading.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Windows.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.Linq.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.Linq.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.XmlSerializer.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.dll
EWCAndroid/EWCAndroid/obj/Debug/res/drawable/mainfaqred.png
EWCAndroid/EWCAndroid/obj/Debug/res/drawable/mainlocred.png
EWCAndroid/EWCAndroid/obj/Debug/res/drawable/mainptsred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-hdpi/backgroundredgirl3x.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-hdpi/mainfaqred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-hdpi/mainlocred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-hdpi/mainptsred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-hdpi/res1x.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-mdpi/backgroundredgirl.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-mdpi/mainfaqred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-mdpi/mainlocred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-mdpi/mainptsred.png
EWCAndroid/EWCAndroid/obj/Debug/res/mipmap-mdpi/res2x.png
EWCAndroid/EWCAndroid/obj/Debug/resolved_assemblies.txt
EWCAndroid/EWCAndroid/obj/Debug/scan.flag
EWCAndroid/EWCAndroid/obj/Debug/static.flag
EWCAndroid/EWCAndroid/bin/Debug/System.Net.Http.Extensions.xml
EWCAndroid/EWCAndroid/bin/Debug/System.Net.Http.Primitives.dll
EWCAndroid/EWCAndroid/bin/Debug/System.Net.Http.Primitives.xml
EWCAndroid/EWCAndroid/bin/Debug/com.refractored.monodroidtoolkit.dll
EWCAndroid/EWCAndroid/bin/Debug/ewc.ewcandroid-Signed.apk
EWCAndroid/EWCAndroid/bin/Debug/ewc.ewcandroid.apk
EWCAndroid/EWCAndroid/bin/Debug/mscorlib.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/nunit.framework.dll
EWCAndroid/EWCAndroid/bin/Debug/nunit.framework.xml
EWCAndroid/EWCAndroid/obj/Debug/EWCAndroid.csproj.FileListAbsolute.txt
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$drawable.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/StickyViewPager.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/VerticalTextView.class
EWCAndroid/EWCAndroid/obj/Debug/uploadflags.txt
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$dimen.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$integer.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$layout.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$mipmap.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$string.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$style.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$styleable.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/GridViewNoScroll.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/HoloCircularProgressBar.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/ProgressButton.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/ScaleImageView.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/ScaleImageViewGestureDetector.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/ScrollingTextView.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md50065d061f307df6c62d57466d7de72e9/SelectEndEditText.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/AndroidAccountStore_SecretAccount.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/FormAuthenticatorActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/FormAuthenticatorActivity_State.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity_Client.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/MonoPackageManager_Resources.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/content/Loader_OnLoadCompleteListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/view/ActionProvider_SubUiVisibilityListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/strip.flag
EWCAndroid/EWCAndroid/obj/Debug/android/assets/machine.config
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes.dex
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$attr.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$color.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/ewc/ewcandroid/R$id.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity_State.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md590d78cc84980ea1513896bb26e646dea/IntEditTextPreference.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md590d78cc84980ea1513896bb26e646dea/IntListPreference.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md5a03eb4da49d43b9b77a630188305af1d/CreateAccountActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md5a03eb4da49d43b9b77a630188305af1d/ForgotPasswordActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md5a03eb4da49d43b9b77a630188305af1d/LoginActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md5a03eb4da49d43b9b77a630188305af1d/MainActivity.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/md5a03eb4da49d43b9b77a630188305af1d/SplashScreen.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/MonoPackageManager.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/MonoRuntimeProvider.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/Seppuku.class
EWCAndroid/EWCAndroid/obj/Debug/res/drawable/backgroundredgirl.png
EWCAndroid/EWCAndroid/obj/Debug/EWCAndroid.csprojResolveAssemblyReference.cache
EWCAndroid/EWCAndroid/obj/Debug/EWCAndroid.pdb
EWCAndroid/EWCAndroid/obj/Debug/_dex_stamp
EWCAndroid/EWCAndroid/obj/Debug/acw-map.txt
EWCAndroid/EWCAndroid/obj/Debug/android/AndroidManifest.xml
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/app/Application$NotifyTimeZoneChanges.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/app/Application.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/view/ActionProvider_VisibilityListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/view/MenuItemCompat_OnActionExpandListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/view/ViewPager_OnPageChangeListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/widget/DrawerLayout_DrawerListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/widget/SlidingPaneLayout_PanelSlideListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/bin/ewc.ewcandroid.apk
EWCAndroid/EWCAndroid/obj/Debug/android/bin/mono.android.jar
EWCAndroid/EWCAndroid/obj/Debug/android/bin/packaged_resources
EWCAndroid/EWCAndroid/obj/Debug/android/bin/resources_and_assemblies
EWCAndroid/EWCAndroid/obj/Debug/android/manifest/AndroidManifest.xml
EWCAndroid/EWCAndroid/obj/Debug/android/src/ewc/ewcandroid/R.java
EWCAndroid/EWCAndroid/obj/Debug/assemblies/nunit.framework.dll
EWCAndroid/EWCAndroid/bin/Debug/System.ServiceModel.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Xml.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/Xamarin.Android.Support.v4.dll
EWCAndroid/EWCAndroid/obj/Debug/EWCAndroid.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/mscorlib.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Xml.Linq.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/GridViewNoScroll.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/VerticalTextView.java
EWCAndroid/EWCAndroid/obj/Debug/assemblies/mscorlib.dll
EWCAndroid/EWCAndroid/bin/Debug/System.ServiceModel.Internals.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/android/bin/classes/mono/android/support/v4/app/FragmentManager_OnBackStackChangedListenerImplementor.class
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/HoloCircularProgressBar.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/ProgressButton.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/ScaleImageView.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/ScaleImageViewGestureDetector.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/ScrollingTextView.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md50065d061f307df6c62d57466d7de72e9/StickyViewPager.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/AndroidAccountStore_SecretAccount.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/FormAuthenticatorActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/FormAuthenticatorActivity_State.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity_Client.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md588920fb9403ed228b036d6919cddd329/WebAuthenticatorActivity_State.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md590d78cc84980ea1513896bb26e646dea/IntEditTextPreference.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/content/Loader_OnLoadCompleteListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Xamarin.Android.Support.v4.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/com.refractored.monodroidtoolkit.dll
EWCAndroid/EWCAndroid/bin/Debug/Microsoft.CSharp.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.ComponentModel.Composition.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.ComponentModel.DataAnnotations.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Core.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Net.Http.Extensions.dll
EWCAndroid/EWCAndroid/bin/Debug/System.Net.Http.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Numerics.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/System.Runtime.Serialization.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/android/src/md590d78cc84980ea1513896bb26e646dea/IntListPreference.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md5a03eb4da49d43b9b77a630188305af1d/CreateAccountActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/md5a03eb4da49d43b9b77a630188305af1d/ForgotPasswordActivity.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/app/Application.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/app/FragmentManager_OnBackStackChangedListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/view/ActionProvider_SubUiVisibilityListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/view/MenuItemCompat_OnActionExpandListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/view/ViewPager_OnPageChangeListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/widget/DrawerLayout_DrawerListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/typemap.jm
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/Mono.CSharp.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/EWCAndroid.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/EWCAndroid.dllEWCAndroid.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Microsoft.CSharp.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.XDocument.dll
EWCAndroid/EWCAndroid/obj/Debug/android_debug_keystore.flag
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Mono.Android.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Mono.CSharp.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Newtonsoft.Json.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Collections.Concurrent.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Collections.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.Annotations.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.Composition.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.Composition.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.DataAnnotations.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.DataAnnotations.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.EventBasedAsync.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.ComponentModel.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Linq.Queryable.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Reflection.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Resources.ResourceManager.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Extensions.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.InteropServices.WindowsRuntime.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.InteropServices.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Numerics.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Serialization.Json.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Serialization.Primitives.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Runtime.Serialization.Xml.dll
EWCAndroid/EWCAndroid/bin/Debug/EWCAndroid.dll
EWCAndroid/EWCAndroid/bin/Debug/Microsoft.WindowsAzure.Mobile.xml
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Xml.ReaderWriter.dll
EWCAndroid/EWCAndroid/bin/Debug/Mono.Android.dll.mdb
EWCAndroid/EWCAndroid/obj/Debug/assemblies/System.Security.Principal.dll
EWCAndroid/EWCAndroid/bin/Debug/Microsoft.WindowsAzure.Mobile.dll
EWCAndroid/EWCAndroid/bin/Debug/Newtonsoft.Json.dll
EWCAndroid/EWCAndroid/bin/Debug/Newtonsoft.Json.xml
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/view/ActionProvider_VisibilityListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/src/mono/android/support/v4/widget/SlidingPaneLayout_PanelSlideListenerImplementor.java
EWCAndroid/EWCAndroid/obj/Debug/android/typemap.mj
EWCAndroid/EWCAndroid/obj/Debug/assemblies/EWCAndroid.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Microsoft.WindowsAzure.Mobile.Ext.dll
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Microsoft.WindowsAzure.Mobile.dll
EWCAndroid/EWCAndroid/bin/Debug/EWCAndroid.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/EWCAndroid.dllEWCAndroid.dll.mdb
EWCAndroid/EWCAndroid/bin/Debug/EWCAndroid.pdb
EWCAndroid/EWCAndroid/bin/Debug/Microsoft.WindowsAzure.Mobile.Ext.dll
EWCAndroid/EWCAndroid/bin/Debug/Microsoft.WindowsAzure.Mobile.Ext.xml
EWCAndroid/EWCAndroid/obj/Debug/assemblies/Mono.CSharp.dll
